*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.box{
    border: 2px solid black;
    padding: 30px;
    width: 500px;
    height: fit-content;
    margin: 10px auto;
    text-align: center; 
}
h1{
    font-weight: 900;
    margin-bottom: 30px;
}
.input{
    text-align: start;
}
.input .blank{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 20px;
}
label{
    margin-bottom: 10px;
    font-weight: 600;
}

input{
    padding: 10px;
    font-size: 20px;
    border-color: black;
}
button{
    padding: 10px;
    width: 100%;
    font-size: 20px;
    margin-top: 30px;
}
#result{
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
}